body {
  background-color: coral;
}

.header {
  text-align: center;
  background-color: #fffd97;
  color: coral;
  border: 5px solid lightpink;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.7);
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

button {
  margin: 12px;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background: linear-gradient(to bottom, #fffd97, #fdfc97);
  box-shadow: 0 4px #b80808;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  background-color: yellow;
  color: coral;
  border: 2px solid lavender;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

div {
  color: #fffd97;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
